.panel
  background-color $gray
  border-radius 20px
  position relative
  display flex
  display flex
  flex 0 0 auto
  flex-direction column
  flex-direction column
  align-items flex-start
  align-items stretch
  transition all .3s ease

  &:hover
    @media $more-mobile
      background-color $grayDark
      box-shadow 0 2px 6px alpha(#c5baba, .5)

  &_type_critical
    background-color $red

    &.panel_hasContent
      border-bottom-right-radius 30px
      border-bottom-left-radius 30px

    &:hover
      background-color $red

  &_size_l
    @media $more-tablet
      font-size 2.4rem

  &__header
    width 100%
    box-sizing border-box
    border-radius 20px
    padding 22px 20px

    @media $mobile
      padding 16px

    .panel_type_critical &
      color #fff

  &__content
    background-color $gray
    border-radius 20px
    padding 0 20px 20px
    display flex
    flex 1 1 auto
    flex-direction column
    align-items stretch
    transition background-color .3s ease

    .panel:hover &
      @media $more-mobile
        background-color $grayDark

    @media $mobile
      padding 16px
      padding-top 0

    .panel_type_critical &
      padding-top 20px

      @media $mobile
        padding-top 16px

  &__line
    margin-bottom 20px

    @media $mobile
      margin-bottom 16px

    &:last-child
      margin-top auto
      margin-bottom 0

  &__title
    margin-bottom 20px
    display flex
    align-items center

    @media $mobile
      font-size 1.56rem
      margin-bottom 16px

  &__icon
    margin-right 20px
    flex 0 0 auto

    @media $mobile
      margin-right 16px

  &__name
    overflow hidden
    font-size 2.4rem
    font-weight 700
    margin-top 0
    margin-bottom 0
    flex 0 1 auto

  &__text
    margin-top 0
    margin-bottom 0

  &__player
    margin-top 10px

  &__buttons
    display grid
    grid-template-columns repeat(auto-fit, 130px)
    grid-gap 20px

    @media $mobile
      justify-content space-between

  &__image
    width 100%
    border-radius 20px
    vertical-align middle

