.button
  font-size 20px
  font-weight 700
  text-align center
  background-color $yellow
  border none
  border-radius 8px
  padding 15px 20px
  vertical-align middle
  display inline-block
  flex 0 1 auto
  cursor pointer
  transition background-color .3s ease

  @media $mobile
    padding-top 11px
    padding-bottom 11px

  body:not(.is-touch-device) &:hover
    background-color $yellowDark

  &_gray
    background-color $grayDarkest
