$desktopSize = 1400px
$tabletSize = 980px
$mobileSize = 620px
$desktop = s('only screen and (max-width: %s)', $desktopSize)
$more-desktop = s('only screen and (min-width: %s)', $desktopSize + 1)
$tablet = s('only screen and (max-width: %s)', $tabletSize)
$more-tablet = s('only screen and (min-width: %s)', $tabletSize + 1)
$mobile = s('only screen and (max-width: %s)', $mobileSize)
$more-mobile = s('only screen and (min-width: %s)', $mobileSize + 1)

input-range(handleMixin, trackMixin)
  width 100%
  position relative
  top 2px
  -webkit-appearance none

  &::-webkit-slider-thumb
    -webkit-appearance none
    handleMixin()

  &::-moz-range-thumb
    handleMixin()

  &::-ms-thumb
    handleMixin()
    margin 0

  &::-webkit-slider-runnable-track
    trackMixin()

  &::-moz-range-track
    trackMixin()

  &::-ms-track
    trackMixin()
    color transparent
    background transparent
    border-color transparent
    cursor pointer

  &:focus
    background none
    outline none

  &::-ms-fill-lower
    trackMixin()

  &::-ms-fill-upper
    trackMixin()
