.title
  &_size_1
    font-size 3.6rem
    font-weight 700
    margin-top 20px
    margin-bottom 30px

    @media $mobile
      font-size 1.33em

  &_size_2
    font-size 2.7rem
    font-weight 700
    margin-top 40px
    margin-bottom 20px

  &_size_3
    font-size 1.8rem
    font-weight 700
    margin-top 30px
    margin-bottom 20px

  &_size_4
    font-size 1.6rem
    margin-top 20px
    margin-bottom 20px

  &_size_5
    font-weight 700
    margin-top 20px
    margin-bottom 20px

  &_size_6
    margin-top 20px
    margin-bottom 20px