.main
  width 100%
  max-width 1064px
  box-sizing border-box
  padding-left 20px
  padding-right 20px
  margin 130px auto 0

  @media $more-desktop
    max-width 80%

  @media $mobile
    margin-top 50px
