.logo
  width 112px
  height 27px
  overflow hidden
  text-decoration none
  text-indent 100%
  white-space nowrap
  background url('./logo.svg') 50% no-repeat
  background-size 100% auto
  vertical-align middle
  display inline-block
