doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title ШРИ 2018 II Домашнее задание
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
    link(rel="stylesheet", href="main.css")
    meta(name="robots" content="noindex")
    script(src="https://code.jquery.com/pep/0.4.3/pep.js")

  body
    header.header
      .header__logo
        a.logo(href="index.html") Яндекс Дом
      .header__nav
        nav.nav-header
          a.nav-header__item.js-link(href="events.html", data-url="events") События
          a.nav-header__item(href="#") Сводка
          a.nav-header__item(href="#") Устройства
          a.nav-header__item(href="#") Сценарии
          a.nav-header__item.js-link(href="video-monitoring.html", data-url="video-monitoring") Видеонаблюдение
      button.header__menu.js-menu-button(type="button")

    main.main#main
      block content

    footer.footer
      .footer__nav
        nav.nav-footer
          a.nav-footer__item(href="#") Помощь
          a.nav-footer__item(href="#") Обратная связь
          a.nav-footer__item(href="#") Разработчикам
          a.nav-footer__item(href="#") Условия использования
          a.nav-footer__item(href="license.pdf", target="_blank") Авторские права
      .footer__copyright © 2001-#{new Date().getFullYear()} ООО «Яндекс»

    script(src="main.js", async="async")
