$desktopSize = 1360px
$tabletSize = 980px
$mobileSize = 620px

$desktop = s("only screen and (max-width: %s)", $laptopSize)
$more-laptop = s("only screen and (min-width: %s)", $laptopSize + 1)
$tablet = s("only screen and (max-width: %s)", $tabletSize)
$more-tablet = s("only screen and (min-width: %s)", $tabletSize + 1)
$mobile = s("only screen and (max-width: %s)", $mobileSize)
$more-mobile = s("only screen and (min-width: %s)", $mobileSize + 1)

input-range(handleMixin, trackMixin)
  width 100%
  height 0
  position relative
  top 2px
  -webkit-appearance none

  &::-webkit-slider-thumb
    -webkit-appearance none
    handleMixin()

  &::-moz-range-thumb
    handleMixin()

  &::-ms-thumb
    handleMixin()

  &::-webkit-slider-runnable-track
    trackMixin()

  &::-moz-range-track
    trackMixin()

  &::-ms-track
    trackMixin()

  &:focus
    background none
    outline none

  &::-ms-track
    width 100%
    cursor pointer
    background transparent
    border-color transparent
    color transparent
