body
  min-height 100vh
  background-color #fff
  display grid
  transition background .3s
  grid-template-rows 1fr auto
  grid-template-columns 100%

  &.opened-video
    background-color $textColor
