.camera
  height 430px
  overflow hidden
  border-radius 20px
  position relative
  display block
  touch-action none
  &__container
    touch-action manipulation
  &__image
    width auto
    min-width 100%
    min-height 100%
    background url(../images/image.png) 50% no-repeat
    position absolute
    top 0
    left 0
