.camera
  display block
  touch-action none

  &__container
    overflow hidden
    border-radius 20px
    position relative
    touch-action manipulation

  &__image
    height 420px
    background-image url('../images/image3x.jpg')
    background-size cover

    @media $tablet
      background-image url('../images/image2x.jpg')

    @media $mobile
      height 350px
      background-image url('../images/image.jpg')

    body:not(.is-touch-device) &
      background-size cover
      background-repeat no-repeat

  &__info
    margin-top 20px

    @media $mobile
      margin-top 15px

    body:not(.is-touch-device) &
      display none
