.footer
  color #858585
  font-size 1.2rem
  border-top 1px solid #f0f0f0
  margin-top 80px
  padding 20px 40px
  display flex
  flex 0 0 auto
  justify-content space-between
  align-items center
  transition opacity .3s, visibility .3s

  @media $mobile
    margin-top 50px
    padding 15px 20px

  .opened-video &
    opacity 0
    visibility hidden

  &__nav
    @media $mobile
      display none
