.footer
  color #858585
  font-size 12px
  border-top 1px solid #f0f0f0
  padding 20px 40px
  margin-top 80px
  display flex
  justify-content space-between
  align-items center
  flex 0 0 auto
  @media $mobile
    padding 15px 20px

  &__nav
    @media $mobile
      display none
