.footer
  color $darkGray
  font-size 12px
  display flex
  justify-content space-between
  align-items center
  padding 20px 40px
  flex 0 0 auto
  @media $mobile
    padding 15px 20px

  &__nav
    @media $mobile
      display none
