.layout
  display grid
  grid-template-columns repeat(6, 1fr)
  grid-gap 20px
  @media $mobile
    grid-template-columns 1fr

  &__item
    &_s
      grid-column: span 2
      @media $tablet
        grid-column span 3
      @media $mobile
        grid-column span 1

    &_m
      grid-column: span 3
      @media $mobile
        grid-column span 1

    &_l
      grid-column: span 4
      grid-row: span 3
      @media $tablet
        grid-column span 6
        grid-row auto
      @media $mobile
        grid-column span 1