.player
  &__header
    display flex

  &__picture
    width 53px
    height @width
    background-position 50%
    background-size cover
    background-repeat no-repeat
    border-radius 10px
    margin-right 15px
    flex 0 0 auto

  &__info
    flex 1 1 auto

  &__duration
    margin-top 12px
    display flex
    align-items center

  &__controls
    margin-top 20px
    display flex
    align-items center

  &__button
    width 53px
    height @width
    background $gray2 url('../images/arrows-prev.svg') 50% no-repeat
    background-size contain
    border-radius 50%
    vertical-align middle
    display inline-block
    flex 0 0 auto
    cursor pointer

    &_next
      margin-left 30px
      margin-right 10px
      transform rotate(180deg)

      @media $mobile
        margin-left 20px

  &__value
    min-width 40px
    color #aeaeae
    font-size 1.4rem
    text-align right
    margin-left 5px

  &__track
    flex 0 1 auto

    rangeHandle()
      width 10px
      height 20px
      background #d8d8d8
      border 0
      border-radius 4px
      margin -10px 0 0
      cursor pointer

      @media $mobile
        width 6px

    rangeTrack()
      width 100%
      height 1px
      background #979797
      border-width 10px 0
      cursor pointer

    input-range(rangeHandle, rangeTrack)

  &__volume
    rangeHandle()
      width 17px
      height 17px
      background #605757
      border 0
      border-radius 2px
      border-radius 50%
      margin -7px 0 0
      cursor pointer

    rangeTrack()
      width 100%
      height 4px
      background #efefef
      border-width 10px 0
      border-radius 4px
      cursor pointer

    input-range(rangeHandle, rangeTrack)