.video-monitoring
  height 100%
  display grid
  grid-template-columns 1fr 1fr
  grid-gap 20px
  position relative

  &__container
    background-color $textColor
    display flex
    align-items center
    position relative
    cursor pointer
    &.open
      position static

  &__video
    width 100%

  &__element
    height 100%
    width 100%
    background #f00
    position absolute
    top 0
    left 0
    transition all .3s
    .open &
      z-index 1

.video-popup
  width 100%
  height 100%
  background-color #009688
  position absolute
  top 0
  left 0
  display flex
  flex-direction column
  &__video
    background-color $textColor
    flex 1 1 auto

.video-controls
  width 100%
  display flex
  &__item
    width 33%
  &__caption
    margin-bottom 10px
  &__volume
    width 100%
